@tailwind base;
@tailwind components;
@tailwind utilities;

/* remove default scrollbar theme */
.hide-scrollbar::-webkit-scrollbar{
    display: none;
}

/* darken background */
.blur-background{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.8)
}
